/*
Organizacion del archivo :
0. Variables y reseteo de estilos
1. Poscicionamiento
2. Modelo de caja
3. Tipografia
4. Efectos visuales
5. Otros
*/

:root 
{
    --linear-background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bicoint-orange : #F7931A;
    --soft-orange : #FFE9D5;
    --secondary-blue : #1A9AF7;
    --soft-blue : #E7F5FF;
    --warm-black : #201E1C;
    --warm-black-two : #282623;
    --hard-grey : #757575;
    --off-grey : #808080;
    --grey : #BABABA;
    --off-white : #FAF8F7;
    --just-white : #FFFFFF;
    --prymary-font : 'DM Sans', 'sans-serif'; 
    --secondary-font : 'Inter';
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    font-family: var(--prymary-font);
}

a
{
    text-decoration: none;
}

header
{
    position: relative;
    color: var(--just-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: var(--linear-background);
    min-width: 320px;
    width: 100%;
    height: 334px;
    font-size: 1.4rem;
}

header>img
{
    width: 150px;
    height: 24px;
    margin-top: 35px;
    align-self: center;
}

.header__title-container
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container> h1 
{
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header__title-container > p
{
    margin-top: 25px;
    line-height: 1.8rem;
    font-weight: 500;
}

.header__button 
{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 229px;
    height: 48px;
    padding-top: 15px;
    line-height: 1.8rem;
    font-weight: bold;
    background: var(--off-white);
    color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.header__button span
{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main
{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--off-white);
}

.main-exchange-container 
{
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.main-exchange-container .backgroung_img 
{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/Bitcoin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-container 
{
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.text-container h2 
{
    color: var(--warm-black);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.text-container p 
{
    color: var(--hard-grey);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
}

.main-table-container 
{
    width: 90%;
    display: flex;
    justify-content: center;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
}

.table-content
{
    width: 70%;
    margin: 0 auto;
}

.table-content p
{
    width: min-content;
    color:#FF9536;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 15px;
}

.main-table 
{
    width: 100%;
    font-family: var(--secondary-font);
}

.main-table table
{
    width: 100%;
    min-width: 208px;
    max-width: 500px;
    height: 160px;
}

.main-table td 
{
    width: 50%;
    height: 25%;
    background-color: var(--just-white);
    padding-left: 15px;
}

.first-rigth-block
{
    border-radius: 8px 0 0 0;
}

.first-left-block
{
    border-radius: 0 8px 0 0;
}

.last-rigth-block
{
    border-radius: 0 0 0 8px;
}

.last-left-block
{
    border-radius: 0 0 8px 0;
}

.rigth-block,.first-rigth-block,.last-rigth-block
{
    color: #B5B0AC;
    font-size: 1.6rem;
    line-height: 19px;
}

.left-block,.first-left-block,.last-left-block
{
    color: var(--hard-grey);
    font-size: 1.4rem;
    line-height: 17px;
}

.main-table td span
{
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

.main-table tr:first-child span,
.main-table tr:nth-child(3) span 
{
    background-image: url("../assets/icons/trending-up.svg");
}

.main-table tr:last-child span,
.main-table tr:nth-child(2) span 
{
    background-image: url("../assets/icons/trending-down.svg");
}

.table-content .date-containt 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 173px;
    height: 31px;
    background-color:#FFE9D4;
    font-family: var(--secondary-font);
}



.date-containt .date-text 
{
    padding: 0;
    margin: 0;
    width: max-content;
    font-size: 1.2rem;
    line-height: 15px;
    font-weight: bold;
    color: var(--warm-black);
}

.date-containt .date-text span 
{
    font-weight: 400;
}

.info-content
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--warm-black);
    font-family: var(--prymary-font);
} 

.info-container 
{
    width: 88%;
    min-width: 281.6px;
    max-width: 792;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.info-container>div
{
    width: 100%;
    max-width: 500px;
}

.info-text-container 
{
    height: 152px;
    background-color:#282623;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-text-container > .icon > span
{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.info-text-container:nth-child(2) > .icon > span
{
    background : url('../assets/icons/clock.svg');
}

.info-text-container:nth-of-type(3) > .icon > span
{
    background : url('../assets/icons/eye.svg');
}

.info-text-container:nth-of-type(4) > .icon > span
{
    background : url('../assets/icons/dollar-sign.svg');   
}

.info-text-container:last-of-type > .icon > span
{
    background : url('../assets/icons/check-circle.svg');   
}


.info-text-container > h3
{
    color: var(--just-white);
    font-size: 1.8rem;
    line-height: 18px;
}

.info-text-container > p
{
    color: var(--off-grey);
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 500;
}

.titles 
{
    text-align: center;
    margin-bottom: 30px;
}

.titles > h1 
{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 26px;
}

.titles > p 
{
    color: var(--off-grey);
    font-size: 1.4rem;
    line-height: 18px;
    margin-top: 25px;
    font-weight: 500;
}


